<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniManageAPI</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <nav>
        <a href="post.html">Post</a> |
        <a href="" rel="stylesheet">Get</a>
        <a href="patch.html">Patch</a> |
        <a href="delete.html">Delete</a>
    </nav>
    {% block body %}
    {% endblock %}

</body>
</html>